.env/
.venv/
venv/
.vscode/
.idea/
*.code-workspace
__pycache__/
*.py[cod]
*$py.class
*.so
portal/portal/__pycache__/
portal/main/__pycache__/
portal/users/__pycache__/
portal/courses/__pycache__/
portal/*/__pycache__/
*.pyc
portal/db.sqlite3
portal/media/*
!portal/media/.gitkeep
portal/static/*
!portal/static/.gitkeep
portal/portal/local_settings.py
*.log
.DS_Store
Thumbs.db
