{% extends "main/layout.html" %}
{% load static %}

{% block title %}Edu Portal{% endblock %}

{% block content %}
    <main>
        <div class="hero-image">
            <img src="{% static 'main/img/hero.jpg' %}" alt="Education Hero Image">
        </div>

        <div class="main-content">
            <h1><strong>Рекомендуемые курсы</strong><a href="{% url 'catalog' %}" style="text-decoration: none; color: inherit;" class="arrow-link"> <i class="fa-solid fa-arrow-right" style="font-size: 0.75em; transition: transform 0.3s ease, color 0.3s ease;" onmouseover="this.style.transform='translateX(5px)'; this.style.color='#007bff';" onmouseout="this.style.transform='translateX(0)'; this.style.color='inherit';"></i></a></h1>
            <div class="course-cards-index">
                {% for course in recommended_courses %}
                    <div class="course-card-index" onclick="window.location.href='{% url 'course-detail' course.id %}'">
                        {% if course.image %}
                            <img src="{{ course.image.url }}" alt="Course Image">
                        {% else %}
                            <img src="{% static 'main/img/default_course_image.jpg' %}" alt="Default Course Image">
                        {% endif %}
                        <h3>{{ course.name }}</h3>
                    </div>
                {% endfor %}
            </div>

            <h1><strong>Новые курсы</strong><a href="{% url 'catalog' %}" style="text-decoration: none; color: inherit;" class="arrow-link"> <i class="fa-solid fa-arrow-right" style="font-size: 0.75em; transition: transform 0.3s ease, color 0.3s ease;" onmouseover="this.style.transform='translateX(5px)'; this.style.color='#007bff';" onmouseout="this.style.transform='translateX(0)'; this.style.color='inherit';"></i></a></h1>
            <div class="course-cards-index">
                {% for course in new_courses %}
                    <div class="course-card-index" onclick="window.location.href='{% url 'course-detail' course.id %}'">
                        {% if course.image %}
                            <img src="{{ course.image.url }}" alt="Course Image">
                        {% else %}
                            <img src="{% static 'main/img/default_course_image.jpg' %}" alt="Default Course Image">
                        {% endif %}
                        <h3>{{ course.name }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}