{% extends "main/layout.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <main>
        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
        <div class="profile-container">
            <h1>Личный кабинет</h1>
            <div class="profile-details">
                <div class="profile-section">
                    <h2>Основная информация</h2>
                    <p><strong>Имя:</strong> {{ user.first_name }}</p>
                    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                    <p><strong>Электронная почта:</strong> {{ user.email }}</p>
                    <p><strong>Пароль:</strong> ********</p>
                    {% if user.is_teacher or user.is_staff %}
                    <p><strong>Супер пользователь: <i class="fa-solid fa-check"></i></strong></p>
                    {% endif %}
                    <a href="{% url 'reset_password' %}" class="btn btn-dark">Забыли пароль?</a>
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-logout">Выйти</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}